h1 {color:white; font-size: 4em; text-align: center;}

body {
    background-image: url('wooden-background.png');
    background-position: center center;
    background-size: cover;   
}

.gs_calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
}

label {
    font-size: x-large;;
    display: flex;
    flex-direction: column;
    text-align: center;
}



input[type="number"] {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 8%;
}

button {
    width: 50%;
    margin-left: 25%;
    padding: 2%;
    height: 5%;
    border-radius: 10px;
    font-size: x-large;
    color: darkcyan;
    background-color: blanchedalmond;
    margin-bottom: 18%;
}


input[type="range"] {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

output {
    padding-left: 8%;
}

.slider_ui {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_value {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.percent {
    font-size: large;
}

.link-container {
    font-size: xx-large;
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10%;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 15%;
}

ul {
    padding: 0;
}

a:hover {
    color: black;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32px;
    background-color: darkslategray;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
