h1 {
    color:white;
    font-size: 5em;
    text-align: center;
}

#lang-toggle {
    padding: 4% 10%;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    display: grid;
    place-self: center;
    color: white;
    background-color: darkslategray;
}

h2 {
    text-align: center;
    color: white;
    font-size: 3em;
}

ul {
    padding: 0;
}

.link-container {
    font-size: xx-large;
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 35%;
}

a:hover {
    color: black;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32px;
    background-color: darkslategray;
    border-radius: 4px;
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url('wooden-background.png');
    background-position: center center;
    background-size: cover;   
}